.left-addon {
  min-width: 20%;
}

.input-group {
  margin: 10px auto;
  max-width: 420px;
}

.right-addon {
  width: 45px;
}

.fa-check {
  color: #91C7B1;
}

.fa-times {
  color: #B33951;
}

.new-section {
  margin-top: 20px;
}

.button-item {
  margin: 0 10px 10px;
}

.checkbox-item {
  margin: 10px 0;
}

.checkbox-text {
  margin-left: 10px;
  color: white;
}

.selector {
  width: 100%;
  max-width: 100%;
  margin-left: -1px;
  border-radius: 0px !important;
}
