.output-section {
  padding: 8px 0px;
  font-family: 'Roboto Mono';
  text-align: center;
}

.table-section {
  margin-top: 20px;
}

.table td, .table th {
  border-bottom: 0.1rem #6C6C6C solid !important;
}
