.header {
  position: fixed;
  font-family: "Raleway";
  font-size: 1.8rem;
  top: 0;
  border-bottom: 0.5px black solid;
  width: 100%;
}

.header-item {
  padding: 10px;
}

.filler {
  margin-bottom: 20px;
}
