.header {
  border-bottom: 0.5px #2a2a2a solid;
  background-color: darken(#D6C6B9, 5%);
  font-family: 'Raleway';
  font-height: 1.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-item {
  padding: 10px;
}

.filler {
  margin-bottom: 20px;
}

.right-align {
  float: right;
  margin-right: 10px;
}
