.page {
  // margin: auto;
  font-family: Lato;
}

.top-section {
  background: #FCECC9;
  height: 20%;
}

.middle-section {
  background: #7EB2DD;
  height:20%;
}

.bottom-section {
  background: #FCB0B3;
  height: 60%;
}
