.input-group-addon {
  min-width: 20%;
}

.input-section {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: Lato;
}
