.center {
  text-align: center;
}

.right {
  text-align: right;
  margin-right: 3px;
}

.fa-heart {
  color: red;
}

.fa-shield {
  color: green;
}

.fa-hand-rock-o {
  color: blue;
}

.item {
  // float: left;
  display: inline-block;
  margin: 0 5px;
}
