.output-section {
  padding: 8px 0px;
  font-family: 'Roboto Mono';
  text-align: center;
}

.table td, .table th {
  border-bottom: 0.1rem #6C6C6C solid !important;
  padding: 0.5rem 1rem !important;
}

.table {
  table-layout: auto !important;
}

.iv-table {
  max-width: 400px;
  margin: auto;
}
