.output-section {
  padding: 20px;
  font-family: 'Roboto Mono';
  text-align: center;
}

h6 {
  margin-top: 0px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  margin-right: 3px;
}
